<div class="main-wrapper">
    <h1>Clients</h1>

    <% @clients.each do |c| %>
        Name:      <%= name      = c.Name %><br>
        Address:   <%= address   = c.address__c %><br>
        Bio:       <%= bio       = c.bio__c %><br>
        Inquiries: <%= inquiries = c.inquiries__c.to_i %><br>
        Price:     <%= price     = "$#{c.price__c.to_i}" %><br>
        Rating:    <%= rating    = c.rating__c.to_i %><br>
        Email:     <%= email     = c.email__c %><br>
        Phone:     <%= phone     = c.phone__c %><br>
        Industry:  <%= industry  = c.industry__c %><br>
        Primary Contact: <%= primary_contact = c.primary_contact__c %><br>

        <br>
    <% end %>
</div>