<div class="main-wrapper">

  <p>Name: <%= @name %></p>
  <p>Address: <%= @address %></p>
  <p>Bio: <%= @bio %></p>
  <p>Inquiries: <%= @inquiries %></p>
  <p>Price: <%= @price %></p>
  <p>Rating: <%= @rating %></p>
  <p>Email: <%= @email %></p>
  <p>Phone: <%= @phone %></p>
  <p>Industry: <%= @industry %></p>
  <p>Primary Contact: <%= @primary_contact %></p>
</div>