<div class="callout">
	<h3>Who are you looking for?</h3>
</div>
<section id="filters">
	<div class="contain">
		<div class="industry-filter">
			<div class="industry">Filter by Industry</div>
      <ul>
        <% @industries.each do |i| %>
          <li><%= link_to i, '#', style: 'color: #000' %></li>
        <% end %>
      </ul>
			<div class="dropdown inactive"></div>
		</div>
		<div class="distance-filter">
			<p class="category">Distance</p>
			<select id="mileage" class="mileage">
			  <option value="1">1mi</option>
			  <option value="5">5mi</option>
			  <option value="10" selected="selected">10mi</option>
			  <option value="15">15mi</option>
			</select>
		</div>
		<div class="locate-clients"><a href="#" data-remote="true">Locate Clients</a></div>
	</div>
</section>
<section id="map"></section>
<section id="list-view" class="clients-list">
	<div class="contain">
		<% num = 1 %>
		<% @clients.each do |c| %>
			<div class="list-detail <%= c.industry__c %>">
				<div class="rank"><%= num %><img src="https://en.gravatar.com/userimage/49627792/0c14fe363f30cd4a8ecbf2b109abfac9.jpg" alt="gravatar image"></div>
				<div class="business-name"><%= link_to "#{c.Name}", "/clients/#{c.id__c}" %></div>
				<div class="address-section">
					<p class="address"><%= "#{c.address__c}" %></p>
				</div>
				<div class="expanded-details-wrapper">
					<div class="expanded-details">
						<div class="contact-person">
							<img src="<%= asset_path('person.svg') %>" alt="contact logo">
							<p class="contact"><%= c.primary_contact__c %></p>
						</div>
						<div class="phone-section">
							<img src="<%= asset_path('phone.svg') %>" alt="phone logo">
							<p class="number"><%= c.phone__c %></p>
						</div>
						<div class="industry-section">
							<img src="<%= asset_path('entertainment.svg') %>" alt="industry logo">
							<p class="industry"><%= c.industry__c %></p>
						</div>
						<div class="bio-section">
							<p class="bio"><%= c.bio__c %></p>
						</div>
						<div class="chatter-section">
							<p>Chatter Section</p>
						</div>
					</div>
				</div>
			</div>
			<% num += 1 %>
		<% end %>
	</div>
</section>
